<robot
  name="mmp5">
  <link
    name="base_link">
    <inertial>
      <origin
        xyz="-2.1267E-05 -0.030554 -2.1229E-06"
        rpy="0 0 0" />
      <mass
        value="7.6741" />
      <inertia
        ixx="0.035782"
        ixy="-2.2837E-07"
        ixz="-4.8896E-06"
        iyy="0.082603"
        iyz="-1.4891E-06"
        izz="0.054496" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://usma_vtol/meshes/meshes_ground_platform/base_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.89804 0.91765 0.92941 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://usma_vtol/meshes/meshes_ground_platform/base_link.STL" />
      </geometry>
    </collision>
  </link>
</robot>
