<launch>
	<!-- vim: set ft=xml noet : -->
	<!-- mavteleop example launch script -->

	<!-- <include file="$(find mavros)/launch/px4.launch" /> -->

	<arg name="teleop_args" default="-pos" />

	<node pkg="joy" type="joy_node" name="joy" required="True">
		<param name="autorepeat_rate" value="5" /> <!-- Minimal update rate, Hz -->
	</node>

	<node pkg="usma_mavros" type="offboard_tracking" name="offboard_tracking" required="True" output="screen">
		<rosparam command="load" file="$(find usma_mavros)/launch/f710_joy.yaml" />
	</node>
</launch>
