<launch>

  <param name="robot_description" command="$(find xacro)/xacro.py $(find usma_vtol)/urdf/erlecopter_base.xacro" />
  <param name="robot_description1" textfile="$(find usma_vtol)/urdf/mmp5.URDF" />

  <!-- BEGIN ROBOT 1 -->
  <group ns="ground_platform">
    <param name="tf_prefix" value="platform_tf" />
  </group> 

  <!-- BEGIN ROBOT 2 -->
  <group ns="vtol">
    <param name="tf_prefix" value="vtol_tf" />
  </group>  

  <!-- start robot state publisher -->
  <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher" output="screen" >
    <param name="publish_frequency" type="double" value="50.0" />
  </node> 
  
  <!-- Start rviz visualization with preset config -->
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find usma_vtol)/rviz/robots.rviz" />

</launch>
